<h2>{{ $ctrl.name }}</h2>
<p class="md-body-2">
  About this.
</p>
<p class="md-body-2">
  This template is a combination of <a href="https://github.com/AngularClass/NG6-starter">NG6-Starter</a> 
  with some configuration from <a href="https://github.com/gebidesign/NG6-starter-sass">NG6-Starter-sass</a>
  and markup from <a href="https://github.com/angular/material-start">material-start</a>
</p>
<p class="md-body-2">
  It features the following technologies:
  <md-list class="tech-list">
    <md-list-item>Sass</md-list-item>
    <md-list-item>Webpack</md-list-item>
    <md-list-item>ES6 with Babel</md-list-item>
    <md-list-item>Gulp task for generating angular components</md-list-item>
  </md-list>
</p>